<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<string>frontpage1</string>
		<key>detailLabels</key>
		<string>1234567</string>
	</dict>
	<dict>
		<key>images</key>
		<string>frontpage2</string>
		<key>detailLabels</key>
		<string>1234567</string>
	</dict>
	<dict>
		<key>images</key>
		<string>frontpage3</string>
		<key>detailLabels</key>
		<string>1234567</string>
	</dict>
	<dict>
		<key>images</key>
		<string>dufucaotang</string>
		<key>detailLabels</key>
		<string>1234567</string>
	</dict>
	<dict>
		<key>images</key>
		<string>huanlegu</string>
		<key>detailLabels</key>
		<string>1234567</string>
	</dict>
	<dict>
		<key>images</key>
		<string>jinli.png</string>
		<key>detailLabels</key>
		<string>1234567</string>
	</dict>
	<dict>
		<key>images</key>
		<string>kuanzaixiangzi</string>
		<key>detailLabels</key>
		<string>1234567</string>
	</dict>
	<dict>
		<key>images</key>
		<string>xiongmao</string>
		<key>detailLabels</key>
		<string>1234567</string>
	</dict>
	<dict>
		<key>images</key>
		<string>wuhouci</string>
		<key>detailLabels</key>
		<string>1234567</string>
	</dict>
</array>
</plist>
