<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<string>宽窄巷子1.jpg</string>
		<key>labels</key>
		<string>“宽窄巷子”是成都市三大历史文化保护区之一，由宽巷子、窄巷子和井巷子三条平行排列的城市老式街道及其之间的四合院群落组成，于上世纪80年代列入《成都历史文化名城保护规划》。2008年6月，为期三年的宽窄巷子改造工程全面竣工。修葺一新的宽窄巷子由45个清末民初风格的四合院落、兼具艺术与文化底蕴的花园洋楼、新建的宅院式精品酒店等各具特色的建筑群落组成。</string>
	</dict>
	<dict>
		<key>images</key>
		<string>杜甫草堂1.jpg</string>
		<key>labels</key>
		<string>成都杜甫草堂，是中国唐代大诗人杜甫流寓成都时的居所。公元759年冬天，杜甫为避 “安史之乱”，携家带口由陇右 (今甘肃省南部)入蜀辗转来到成都。次年春，在友人的帮助下，在成都西郊风景如画的浣花溪畔修建茅屋居住。第二年春天，茅屋落成，称 “成都草堂”。他的诗“万里桥西一草堂，百花潭水即沧浪”（《狂夫》）中提到的便是成都草堂。他在这里先后居住了将近四年，因曾被授“检校工部员外郎”之衔，而又被称做杜工部。765年，严武病逝，失去唯一依靠的杜甫只得携家带口告别成都，两年后经三峡流落荆、湘等地。</string>
	</dict>
	<dict>
		<key>images</key>
		<string>欢乐谷.jpg</string>
		<key>labels</key>
		<string>成都欢乐谷主题公园（英文：Chengdu Happy Valley）是成都市文化产业重点项目和旅游产业重点项目。位于成都市金牛区西华大道16号，即北三环路一段与西华大道（交大路北延线）的交界处，距天府广场6.6公里，至成都市中心商务区（CBD）车行十余分钟，至成绵、成渝高速入口车行时间分别为15和20分钟。项目占地47万平方米。 园区由阳光港、欢乐时光、加勒比旋风、巴蜀迷情、飞行岛、魔幻城堡、飞跃地中海等七大主题区域组成，其中设置了130余项体验观赏项目，包括43项娱乐设备设施、58处人文生态景观、10项艺术表演、20项主题游戏和商业辅助性项目。</string>
	</dict>
	<dict>
		<key>images</key>
		<string>武侯祠1.jpg</string>
		<key>labels</key>
		<string>武侯祠（汉昭烈庙）位于成都市武侯区，肇始于公元223年修建刘备惠陵时，它是中国唯一的一座君臣合祀祠庙和最负盛名的诸葛亮、刘备及蜀汉英雄纪念地，也是全国影响最大的三国遗迹博物馆。1961年国务院公布为首批全国重点文物保护单位，2008年评选为首批国家一级博物馆。成都武侯祠现占地15万平方米，由三国历史遗迹区（文物区）、西区（三国文化体验区）以及锦里民俗区（锦里）三部分组成，享有“三国圣地”的美誉。</string>
	</dict>
	<dict>
		<key>images</key>
		<string>熊猫基地1.jpg</string>
		<key>labels</key>
		<string>成都大熊猫繁育研究基地，是一个专门从事濒危野生动物研究、繁育、保护教育和教育旅游的非营利性机构。基地位于成都北郊斧头山，距市区10公里，有一条宽阔的熊猫大道与市区相连，大熊猫博物馆内珍贵的资料、丰富的展品举世无双，是认识大熊猫、回归大自然、观光旅游、休闲娱乐的极佳场所。四周翠竹葱笼，绿树成荫，花香鸟语，空气清新，山野风光和人工景观巧妙融合。大熊猫、小熊猫、黑颈鹤等珍稀濒危动物在这里悠然自得地生息繁衍。馆舍内、草坪上，大熊猫或卧或坐，或饮或嬉，或进或出，各得其所，令人陶醉。</string>
	</dict>
	<dict>
		<key>images</key>
		<string>锦里1.jpg</string>
		<key>labels</key>
		<string>传说中锦里曾是西蜀历史上最古老、最具有商业气息的街道之一，早在秦汉、三国时期便闻名全国。现在，锦里占地30000余平方米，建筑面积14000余万平方米，街道全长550米，以明末清初川西民居作外衣，三国文化与成都民俗作内涵，集旅游购物、休闲娱乐为一体。</string>
	</dict>
</array>
</plist>
